.FactorySlide4 {
  width: 100vw;
  height: fit-content;
  padding-right: 8.75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20vh;

  .imageContainer {
    width: 50%;
    height: fit-content;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .detail {
    width: 44.33%;
    max-width: 552px;
    height: fit-content;

    .number {
      margin-bottom: 4px;
      color: #d2d2d2;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 190.5%;
      text-transform: capitalize;
    }
    .desc {
      width: fit-content;
      height: fit-content;
      //   padding: 10px;
      border-bottom: 1px solid #f2f2f2;
      color: #09214d;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 190.5%;
      text-transform: capitalize;
    }

    .list1 {
      width: 100%;
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 33px;
    }
  }
}

@media (max-width: 900px) {
  .FactorySlide4 {
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    justify-content: unset;

    .imageContainer {
      width: 100%;
      height: fit-content;
      margin-bottom: 45px;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    .detail {
      width: 100%;
      max-width: 100%;
      height: fit-content;
      .number {
        margin-bottom: 10px;
      }

      .list1 {
        width: 100%;
        margin-bottom: 30px;
      }

      .list2 {
        margin-bottom: 30px;
      }
      .list3 {
        margin-bottom: 30px;
      }
    }
  }
}
