.ListItems {
  align-items: unset;
  .textContainer {
    display: flex;
    align-items: center;
    padding-bottom: 18px;
    .text {
      padding-left: 10px;
      color: #000;
      font-size: 16px;
      font-weight: 600;
      line-height: 28.5px;
      letter-spacing: -0.016px;
    }
  }
}
@media (max-width: 900px) {
  .ListItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    .textContainer {
      display: flex;
      align-items: center;
      padding-bottom: 18px;
      &:last-child {
        padding-bottom: 0;
      }
      .text {
        padding-left: 10px;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        line-height: 28.5px;
        letter-spacing: -0.016px;
      }
    }
  }
}
