.TextileSlide3 {
  width: 100vw;
  height: fit-content;
  .Slide1 {
    background: #f9f5f2;
    padding-top: 35vh;
    padding-bottom: 20vh;
    width: 100%;
    height: fit-content;
    @media (max-width: 900px) {
      padding-top: 0;
      padding-bottom: 172px;
    }
  }
  .Slide2 {
    width: 100%;
    height: fit-content;
    position: relative;
    .imageContainer {
      width: 100%;
      height: fit-content;
      object-fit: contain;
      position: relative;

      @media (max-width: 900px) {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }
    .animation {
      position: absolute;
      z-index: 2;
      width: 100%;
      background-color: #fff;
    }
    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      height: 99%;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
    }

    .titleContainer {
      position: absolute;
      height: fit-content;
      width: 572px;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      svg {
        path {
          stroke: rgba($color: #f2f2f2, $alpha: 0.5);
          fill: none;
        }

        @media (max-width: 900px) {
          width: 45.5px !important;
          height: 40.5px !important;
        }
      }
      .title {
        margin-top: 50px;
        color: #fff;
        text-align: center;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 132.037%;
        text-transform: capitalize;
        text-align: center;

        @media (max-width: 900px) {
          margin-top: 45px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 132.037%;
        }
      }
      @media (max-width: 900px) {
        padding-left: 56px;
        padding-right: 56px;
        width: 100%;
      }
    }

    @media (max-width: 900px) {
      margin-bottom: 0;
      height: 265px;
    }
  }

  .Slide3 {
    width: 100%;
    height: fit-content;
    padding-top: 15vh;
    margin-bottom: 10vh;
    overflow: hidden;
    @media (max-width: 900px) {
      padding-top: 0;
      margin-bottom: 172px;
    }
  }
}
