.IndividualCoSlide1 {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding-left: 8.75%;

  .details {
    width: 34vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;

    .title {
      margin-bottom: 17px;
      color: var(--p-2, #b89774);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      text-transform: uppercase;
    }
    .title1 {
      width: 100%;
      color: #09214d;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
      font-size: 55px;
      font-style: normal;
      font-weight: 600;
      line-height: 132.037%;
      text-transform: capitalize;
    }
    .description {
      margin-bottom: 21px;
      width: fit-content;
      color: #7b7b7b;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 180%;
      text-transform: capitalize;
    }
    .btn {
      width: 397px;
      height: fit-content;
      display: flex;
      align-items: center;
      margin-bottom: 76px;
      justify-content: space-between;

      .downloadBtn {
        width: 244px;
      }

      .playBtn {
        all: unset;
        // margin-left: 41px;
        display: flex;
        width: fit-content;
        height: 44px;
        align-items: center;
        justify-content: space-between;

        .playBtn1 {
        }
        .playBtn2 {
          padding: 10px;
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 143%;
          text-transform: capitalize;
        }
      }
    }

    .Views {
      display: flex;
      width: fit-content;
      height: fit-content;

      .Views1,
      .Views2 {
        .number {
          width: 92px;
          height: 48px;
          color: #09214d;
          text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 132.037%;
          text-transform: capitalize;
        }

        .info {
          width: 135px;
          height: 50px;
          color: #7b7b7b;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 143%;
          text-transform: capitalize;
        }
      }
      .Views2 {
        padding-left: 79px;
      }
    }
  }

  .imageContainer {
    width: 50vw;
    height: fit-content;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

@media (max-width: 1280px) {
  .IndividualCoSlide1 {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    .details {
      padding-top: 12vh;
    }

    .imageContainer {
      width: 50vw;
      height: fit-content;
      margin-top: 8vh;
    }
  }
}

@media (max-width: 1150px) {
  .IndividualCoSlide1 {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.75%;

    .details {
      width: 40vw;
      height: fit-content;
      display: flex;
      flex-direction: column;
      padding-top: 18vh;

      .title1 {
        width: 100%;
        color: #09214d;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 132.037%;
        text-transform: capitalize;
      }
      .description {
        width: 90%;
      }

      .btn {
        width: 397px;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 76px;

        .downloadBtn {
          width: 244px;
          background-color: red;
        }

        .playBtn {
          all: unset;

          display: flex;
          width: 112px;
          height: 44px;
          align-items: center;
          justify-content: space-between;

          .playBtn1 {
          }
          .playBtn2 {
            padding: 10px;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 143%;
            text-transform: capitalize;
          }
        }
      }

      .Views {
        display: flex;
        width: fit-content;
        height: fit-content;

        .Views1,
        .Views2 {
          .number {
            width: 92px;
            height: 48px;
            color: #09214d;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 132.037%;
            text-transform: capitalize;
          }

          .info {
            width: 135px;
            height: 50px;
            color: #7b7b7b;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 143%;
            text-transform: capitalize;
          }
        }
        .Views2 {
          padding-left: 79px;
        }
      }
    }

    .imageContainer {
      width: 50vw;
      height: fit-content;
      transform: translateX(30px);
      margin-top: 3vh;

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 900px) {
  .IndividualCoSlide1 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: unset;
    align-items: center;
    padding-left: 0;

    .details {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10vh;
      padding-left: 20px;
      padding-right: 20px;

      .title {
        margin-bottom: 7px;

        font-size: 13px;
      }

      .title1 {
        margin-bottom: 16px;
        width: 100%;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
      }
      .description {
        margin-bottom: 32px;
        padding-left: 19px;
        padding-right: 19px;
        width: 100%;
        color: #7b7b7b;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        text-transform: capitalize;
        text-align: center;
      }

      .btn {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 76px;

        .downloadBtn {
          width: 100% !important;
        }

        .playBtn {
          display: none;
        }
      }

      .Views {
        display: none;
      }
    }

    .imageContainer {
      width: 100%;
      height: fit-content;
      transform: unset;
      margin-top: 5vh;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
