.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 98px;
  padding-left: 8.3vw;
  padding-right: 8.3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  background: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(6px);
  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 98px;
    opacity: 0.55;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  }

  .logo {
    width: 41.25px;
    height: 42px;
    cursor: pointer;
  }
  .navList {
    width: 38.09vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list {
      cursor: pointer;
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      line-height: 30px;
      text-transform: uppercase;
      align-items: end;
    }
  }
  .sidebarIcon {
    display: none;
  }

  @media (max-width: 1350px) {
    .navList {
      width: 42.09vw;
    }
  }

  @media (max-width: 1100px) {
    .navList {
      width: 50.09vw;
    }
  }

  @media (max-width: 900px) {
    height: 73px;
    padding-left: 20px;
    padding-right: 14px;
    background: rgba(0, 0, 0, 0.27);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);

    .navList {
      display: none;
    }
    .rightContainer {
      display: none;
    }
    .sidebarIcon {
      display: block;
    }
  }
}

.NavbarVariant {
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  background: #fcfcfc;
  box-shadow: 0px 4px 12px 0px rgba(159, 119, 39, 0.12);
  .gradient {
    display: none;
  }

  .logo {
    svg {
      path {
        fill: #3a4266;
      }
    }
  }

  .navList {
    width: 38.09vw;
    .list {
      cursor: pointer;
      color: #000;
      font-size: 13px !important;
      font-weight: 600;
      line-height: 30px;
      text-transform: uppercase;
    }

    @media (max-width: 1350px) {
      width: 42.09vw;
    }

    @media (max-width: 1100px) {
      width: 50.09vw;
    }
  }

  @media (max-width: 900px) {
    height: 73px;
    padding-left: 20px;
    padding-right: 14px;
    background: rgba(0, 0, 0, 0.27);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    box-shadow: unset;
    border-bottom: unset;

    .logo {
      svg {
        path {
          fill: #fff;
        }
      }
    }
    .navList {
      display: none;
    }
    .rightContainer {
      display: none;
    }
    .sidebarIcon {
      display: block;
    }
  }
}
