.IndividualCoSlide2 {
  width: 100vw;
  height: fit-content;
  padding-top: 100px;

  padding-left: 9.4%;
  padding-right: 9.4%;
  display: flex;
  flex-direction: column;

  .imageContainer {
    width: 100%;
    height: fit-content;
    padding-top: 10vh;
    transition: all 0.4s ease-in-out;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      transition: all 0.4s ease-in-out;
    }
  }
  .imageContainer:hover {
    overflow: hidden;
    img {
      scale: 1.05;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;

    .title {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 143%;
      text-transform: capitalize;
    }

    .description {
      color: #686868;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 180%;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 900px) {
  .IndividualCoSlide2 {
    width: 100%;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;

    .imageContainer {
      width: 100%;
      height: 248px;
      position: relative;
      overflow: hidden;
      margin-top: 10vh;
      img {
        position: absolute;
        width: auto;
        height: 100%;
        object-fit: contain;
        left: 0;
        top: 0;
        transform: translateX(-15%);
      }
    }
  }
}
