.listItem {
  padding: 0;
  display: flex;
  align-items: center;
  height: 44px;
  overflow: hidden;
  width: fit-content;

  a {
    text-decoration: none;
    position: relative;
    color: #dfdfdf;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }

  &:hover {
    cursor: pointer;
    a {
    }
  }

  a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #afc0c6;
    bottom: -5px;
    left: 0;
    transform: translateX(-101%);
    // transition: transform 0.4s cubic-bezier(0.5, 0.7, 0.4, 1);
  }
}
.listItem:hover {
  a::after {
    transition: transform 0.4s cubic-bezier(0.5, 0.7, 0.4, 1);
    transform: translateX(0);
  }
}
.listItem.animateOut {
  a::after {
    transition: transform 0.4s cubic-bezier(0.5, 0.7, 0.4, 1) !important;
    transform: translateX(100%) !important;
  }
}
