.AboutSlide3 {
  width: 100vw;
  height: fit-content;
  padding-top: 175px;
  padding-bottom: 173px;
  padding-left: 13.13%;
  padding-right: 13.75%;
  background-color: #222222;

  display: flex;
  justify-content: space-between;

  .leftContainer {
    display: flex;
    width: 366px;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    overflow: hidden;
    opacity: 0;
    transform: translateY(100%);

    .text1,
    .text2 {
      color: #fff;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
      font-size: 49.247px;
      font-style: normal;
      font-weight: 600;
      line-height: 132.037%;
      text-transform: capitalize;
    }
    .text2 {
      color: #b89774;
    }
  }

  .rightContainer {
    display: flex;
    flex-direction: column;

    .colorLine {
      background: #b89774;
      width: 8px;
      height: 119px;
      margin-right: 16px;
    }

    .tag {
      .tag1 {
        width: fit-content;
        display: flex;
        height: 58px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 146.019px;
      }
      .tag2 {
        height: fit-content;
        width: 184px;
        display: flex;
        padding: 10px;
        align-items: flex-start;
        color: rgba($color: #ffffff, $alpha: 0.4);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .box1 {
      width: 228px;
      height: 138px;
      display: flex;
      margin-bottom: 47px;
      overflow: hidden;
      opacity: 0;
      transform: translateY(100%);
    }

    .Box {
      display: flex;
      justify-content: space-between;
      width: fit-content;
      height: fit-content;
      overflow: hidden;
      opacity: 0;
      transform: translateY(100%);

      .box2,
      .box3 {
        width: 228px;
        height: 138px;
        display: flex;

        .colorLine {
          background: rgba(184, 151, 116, 0.19);
        }
      }
    }
  }

  @media (max-width: 1440px) {
    width: 100vw;
    height: fit-content;
    padding-top: 175px;
    padding-bottom: 173px;
    padding-left: 10.13%;
    padding-right: 9.13%;
  }
}

@media (max-width: 900px) {
  .AboutSlide3 {
    width: 100%;
    height: fit-content;
    padding-top: 100px;
    margin-top: 93px;
    padding-bottom: 93px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    justify-content: unset;
    flex-direction: column;
    align-items: center;

    .leftContainer {
      display: flex;
      width: fit-content;
      flex-direction: column;
      justify-content: center;
      height: fit-content;
      margin-bottom: 87px;
      align-items: center;
    }

    .rightContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;

      .box1 {
        width: 228px;
        height: 138px;
        display: flex;
        margin-bottom: 0;
      }

      .Box {
        display: flex;
        justify-content: unset;
        width: fit-content;
        height: fit-content;
        flex-direction: column;

        .box2,
        .box3 {
          margin-top: 47px;
        }
      }
    }
  }
}
