.AboutBox {
  width: 594px;
  height: 145px;
  padding: 31px 39px 24px 39px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  z-index: 3;

  display: flex;
  justify-content: space-between;

  .box1,
  .box2,
  .box3 {
    width: fit-content;
    height: fit-content;

    .title {
      margin-bottom: 10px;
      color: #7b7b7b;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 17.5px;
      text-transform: capitalize;
    }

    .description {
      width: 154px;
      padding: 0px 10px 10px 0px;
      color: #7b7b7b;
      font-weight: 400;
      font-size: 15px;
      font-style: normal;

      line-height: 160%;
      text-transform: capitalize;
    }
  }

  .active {
    .title {
      color: #131313;
    }
    .description {
      color: #131313;
      font-weight: 600;
    }
  }
}

@media (max-width: 750px) {
  .AboutBox {
    width: 330px;
    // bottom: -65px;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 165px;
    padding: 31px 30px 24px 31px;
    overflow-x: scroll;
  }
}
