.AboutSlide2 {
  width: 100vw;
  height: fit-content;
  overflow: hidden;
  position: relative;

  .slide1 {
    padding-top: 172px;
    background-color: #f2f2f2;
    padding-bottom: 110px;

    @media (max-width: 900px) {
      padding-top: 72px;
    }
  }

  .background {
    position: absolute;
    width: 130vw;
    height: 203px;
    background-color: #ffffff;
    transform-origin: 6% -20%;
    transform: rotate(-5deg);
    right: 0;
  }
  .background2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
  }
  .slide2 {
    padding-top: 90px;
    position: relative;

    @media (max-width: 900px) {
      padding-top: 0;
    }
  }
}
