.HomeSideBoxMobile {
  min-width: 60vw;
  max-width: 290px;
  height: 276px;
  padding: 16px 19.5px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: #f2f2f2;
  backdrop-filter: blur(2.5px);
  .text {
    cursor: pointer;
    text-align: center;
    color: #545450;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
  .imageContainer {
    width: 100%;
    height: fit-content;
    padding: 19px 0 19px 41px;
    display: flex;
    overflow: scroll;
    .imageDiv {
      width: 100%;
      height: 100%;
      margin-right: 19px;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 162px;
        height: 156px;
        object-fit: contain;
      }
    }
  }
}
