.DesignSlide2 {
  width: 100vw;
  height: fit-content;
  background: #222;
  padding: 96px 6.94vw 182px 6.25vw;
  .upperContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      color: #fff;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
      // font-size: 48px;
      font-size: 3.1vw;
      font-weight: 700;
      line-height: 132.037%;
    }
    .descContainer {
      width: 49.86vw;
      height: fit-content;
      display: flex;
      margin-top: 19px;
      .line {
        width: 13px;
        background: #b89774;
      }
      .description {
        width: 47.92vw;
        padding-left: 15px;
        color: #bdbdbd;
        font-size: 15px;
        font-weight: 400;
        line-height: 180%;
      }
    }
  }
  .middleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 63.4px;
    margin-bottom: 55px;

    .mainContainer {
      width: 86.8vw;
      height: fit-content;
      margin-bottom: 16px;

      position: relative;

      display: flex;

      .container {
        // background-color: red;
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: flex-end;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }

      .right {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: fit-content;
        width: 50%;
        min-width: 6px;
        // overflow: hidden;
        .imageMainDiv {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .imageContainer {
            width: 86.8vw;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            .image {
              width: 100%;
              height: auto;
              object-fit: contain;
            }
          }
        }
        .resize {
          background-color: #b89774;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 6px;
          z-index: 2;
          cursor: ew-resize;
          .circle {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: -30px;
            transform: translateY(-50%);
            cursor: pointer;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #b89774;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 900px) {
              width: 48px;
              height: 48px;
              left: -22px;
              svg {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
    .sliderContainer {
      width: 40.62vw;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      .sliderImage {
        width: 5.83vw;
        height: fit-content;
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
  .bottomContainer {
    padding-left: 5.76vw;
    padding-right: 4.86vw;
    display: flex;
    justify-content: space-between;
    .bottomLeft {
      width: 44.37vw;
      height: fit-content;
      .content {
        color: #bdbdbd;
        font-size: 15px;
        font-weight: 400;
        line-height: 180%;
        text-transform: capitalize;
        margin-bottom: 22px;
      }
      .mobileItemList {
        display: none;
      }
      .btnText {
        font-weight: 500;
        color: #fff;
      }
      .btnText:hover {
        color: #b89774;
      }
    }
    .itemList {
      .text {
        color: #fff;
      }
    }
  }
}

@media (max-width: 900px) {
  .DesignSlide2 {
    width: 100vw;
    height: fit-content;
    background: #222;
    padding: 50px 0;
    .upperContainer {
      .title {
        font-size: 30px;
      }
      .descContainer {
        padding: 0 20.35px;
        width: 100vw;
        margin-top: 45px;
        justify-content: center;
        .line {
          display: none;
        }
        .description {
          width: 100%;
          padding-left: 0;
          color: #aaa;
          font-size: 14px;
        }
      }
    }
    .middleContainer {
      align-items: center;
      margin: 45px 0;
      .mainContainer {
        width: 100vw;
        margin-bottom: 45px;
        .right {
          .imageMainDiv {
            .imageContainer {
              width: 100vw;
              .image {
                width: auto;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
      .sliderContainer {
        width: 100%;
        overflow: scroll;
        .sliderImage {
          width: 100%;
          height: fit-content;
          img {
            width: 87px;
            height: 57px;
            object-fit: contain;
          }
        }
      }
    }
    .bottomContainer {
      padding: 0 20.35px;
      justify-content: center;
      .bottomLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .content {
          color: #aaa;
          font-size: 14px;
          margin-bottom: 45px;
        }
        .mobileItemList {
          display: block;
          margin-bottom: 45px;
          .text {
            color: #fff;
          }
        }
        .btnText {
          color: #fff;
        }
      }
      .itemList {
        display: none;
      }
    }
  }
}
