.FactorySlide2 {
  width: 100vw;
  height: fit-content;
  padding-left: 13.13%;
  padding-right: 13.75%;
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
  margin-bottom: 15vh;

  .imageContainer {
    width: 46.94%;
    height: fit-content;
    position: relative;

    img,
    video {
      width: 100%;
      height: fit-content;
      object-fit: contain;
    }
    video::-webkit-media-controls {
      display: none;
    }

    .video {
      display: none;
      position: absolute;
      bottom: 28px;
      left: 20px;
      width: 141px;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        cursor: pointer;
        width: 51px;
        height: 51px;
        path {
          fill: #b89774;
        }
      }
      .text {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 143%;
        text-transform: capitalize;
      }
    }

    @media (max-width: 1440px) {
      width: 41.94%;
      height: fit-content;
    }
  }
  .details {
    width: 45.41%;
    max-width: 510px;
    height: fit-content;

    .title {
      margin-bottom: 15px;
      width: 100%;
      color: #09214d;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 132.037%;
      text-transform: capitalize;
    }
    .description {
      margin-bottom: 36px;
      width: 85.88%;
      color: #7b7b7b;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 180%;
      text-transform: capitalize;
    }
    .mobileImage {
      display: none;
    }
    .services {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;

      .list1,
      .list2,
      .list3 {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        .serviceName {
          color: var(--n-1, #000);
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 28.5px;
          letter-spacing: -0.016px;
          padding-left: 10px;
        }
      }
      .list3 {
        margin-bottom: 12px;
      }

      .ReadMore {
        all: unset;
        cursor: pointer;
        display: flex;
        width: fit-content;
        height: 41px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border-bottom: 1.5px solid var(--p-2, #b89774);

        .read {
          color: #131313;
          font-size: 13px;
          text-transform: capitalize;
          font-style: normal;
          font-weight: 600;
          line-height: 160%;
        }
      }
      .ReadMore:hover {
        border-bottom: 1.5px solid var(--p-2, #b89774);
        .read {
          color: #b89774;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    padding-left: 8.7%;
    padding-right: 8.5%;
  }
}

@media (max-width: 900px) {
  .FactorySlide2 {
    width: 100%;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: unset;
    align-items: center;

    .imageContainer {
      display: none;
    }
    .details {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;

      .title {
        margin-bottom: 45px;
        text-align: left;
        font-size: 30px;
      }
      .mobileImage {
        width: 100%;
        height: fit-content;
        display: block;
        position: relative;

        img,
        video {
          width: 100%;
          height: fit-content;
          object-fit: contain;
        }
        video::-webkit-media-controls {
          display: none;
        }
        .video {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          svg {
            cursor: pointer;
            width: 51px;
            height: 51px;
            path {
              fill: #b89774;
            }
          }
        }
      }
      .description {
        margin-top: 17px;
        margin-bottom: 45px;
        width: 100%;
        font-size: 14px;
        text-align: center;
      }
      .services {
        margin-top: 45px;
        align-items: center;
        .list3 {
          margin-bottom: 45px;
        }

        .ReadMore {
          all: unset;
          cursor: pointer;
          display: flex;
          width: fit-content;
          height: 41px;
          padding: 10px;
          justify-content: center;
          align-items: center;
          border-bottom: 1.5px solid var(--p-2, #b89774);

          .read {
            color: #131313;
            font-size: 13px;
            text-transform: capitalize;
            font-style: normal;
            font-weight: 600;
            line-height: 160%;
          }
        }
        .ReadMore:hover {
          border-bottom: 1.5px solid var(--p-2, #b89774);
          .read {
            color: #b89774;
          }
        }
      }
    }
  }
}
