.MobileImageDetailContainer {
  display: none;
}

@media (max-width: 900px) {
  .MobileImageDetailContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    .titleContainer {
      margin-bottom: 45px;
      width: fit-content;
      height: fit-content;
      margin-top: 172px;
      display: flex;
      flex-direction: column;
      align-items: center;


      .dash {
        margin-bottom: 32px;
      }

      .title {
        width: 200px;
        // height: 73px;

        color: #2d2d2d;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 36.118px;
      }
    }

    .imageContainer {
      width: 100%;
      height: fit-content;
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .container {
      width: 50%;
      height: fit-content;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }

      @media (max-width: 550px) {
        width: 100%;
      }
    }

    .details {
      margin-top: 45px;
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;

      .description,
      .description2 {
        color: #7b7b7b;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        text-transform: capitalize;
        white-space: pre-wrap;
      }

      .description2 {
        margin-top: 36px;
        margin-bottom: 45px;
      }
      .ReadMore {
        all: unset;
        width: fit-content;
        display: flex;
        height: 41px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border-bottom: 1.5px solid var(--p-2, #b89774);

        .read {
          color: #131313;
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 160%;
          text-transform: capitalize;
        }
      }
    }
  }
}
