.Accordion {
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: "#1d1d1d";
  padding-top: 15px;
  margin-bottom: 14px;
  background-color: #000;
  overflow: hidden;

  .detailsContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 17px;

    .title {
      width: 100%;
      display: flex;
      padding-right: 10px;
      justify-content: space-between;
      margin-bottom: 10px;
      align-items: center;

      .titleText {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        width: 73.07vw;
        letter-spacing: 0.8px;
      }
      .downArrow {
        transition: all 0.3s ease-out;
        height: fit-content;
        width: fit-content;
        transform: rotate(360deg);
      }
    }

    .desc {
      width: 100%;
      margin-bottom: 37px;
      padding-right: 20px;
      color: #909090;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.75px;

      @media (max-width: 900px) {
        width: 100%;
      }
    }
    @media (max-width: 900px) {
      width: 100%;
    }
  }

  @media (max-width: 900px) {
    width: 100%;
    height: 270px;
  }
}
.closeAccordion {
  height: 53px;
  margin-bottom: 14px;
  background-color: unset;

  .detailsContainer {
    width: 100%;
    .title {
      display: flex;
      padding-right: 10px;
      justify-content: space-between;
      margin-bottom: 10px;
      align-items: center;
      .titleText {
        width: 73.07vw;
      }

      .downArrow {
        transform: rotate(180deg);
      }
    }
    .desc {
      display: none;
    }

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  @media (max-width: 900px) {
    width: 100%;
    height: fit-content;
  }
}
