.HomeSlide3 {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 75px 8.75% 372.32px 8.75%;
  background-color: #222222;

  .imageContainer {
    width: 30%;
    height: fit-content;
    position: relative;

    .image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    .video {
      position: absolute;
      bottom: 24px;
      z-index: 1;
      left: 10px;

      svg {
        path {
          fill: #000000;
        }
      }
    }
  }

  .detailsContainer {
    margin-left: 86px;

    .titleContainer {
      width: 100%;
      height: fit-content;
      margin-left: 12px;
      .title1 {
        display: flex;
        align-items: center;

        .iconContainer {
          padding-right: 22px;
          .dash2 {
            display: none;
          }
        }
        .title {
          color: #fff;
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 69.593px;
        }
      }
      .title2 {
        margin-bottom: 44.32px;
        margin-left: 17px;
        color: #fff;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 69.593px;
      }
    }
    .commaSvg {
      height: fit-content;
      width: 100%;

      margin-bottom: 35px;
    }
    .DropDown {
      width: 100%;

      height: fit-content;
    }
    .btnContainer {
      width: 404px;
      height: fit-content;

      margin-top: 51px;
      display: flex;
      justify-content: space-between;

      .btn {
        width: 190px;
      }
    }
  }
}

@media (max-width: 900px) {
  .HomeSlide3 {
    width: 100%;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 39px;
    padding-bottom: 49px;
    flex-direction: column;

    .imageContainer {
      width: 100%;
      height: fit-content;
      .video {
        position: absolute;
        bottom: unset;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .detailsContainer {
      margin-left: 0;
      .titleContainer {
        width: 100%;
        height: fit-content;
        margin-left: 0;
        align-items: center;
        .title1 {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-top: 45px;

          .iconContainer {
            padding-right: 0;
            .dash1 {
              display: none;
            }
            .dash2 {
              display: block;
              width: 19.965px;
              height: 6px;
              background-color: #fff;
              margin-bottom: 31px;
            }
          }
          .title {
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 31px;
          }
        }
        .title2 {
          margin-bottom: 44.32px;
          margin-left: 0;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: 69.593px;
          text-align: center;
        }
      }
      .commaSvg {
        height: fit-content;
        width: 100%;
        margin-bottom: 35px;
      }
      .DropDown {
        width: 100%;

        height: fit-content;
      }
      .btnContainer {
        width: 100%;
        height: 116px;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .btn {
          width: 100%;
        }
      }
    }
  }
}
