.IndividualLastSlide {
  width: 100vw;
  height: fit-content;
  position: relative;
  margin-bottom: 40vh;

  .imageConatiner {
    width: 100%;
    height: fit-content;
    min-height: 530px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      position: relative;
    }
    .gradient {
      top: 0;
      position: absolute;
      z-index: 1;
      width: 100vw;
      height: fit-content;
      opacity: 0.5;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
      );
    }
  }

  .title {
    width: 67vw;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    font-size: 5.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 132.037%;
    text-transform: capitalize;
    @media (max-width: 1440px) {
      top: 93px;
    }
  }
}
.individual {
  margin-top: 30vh;
}

@media (max-width: 900px) {
  .IndividualLastSlide {
    margin-bottom: 60vh;
    .imageConatiner {
      width: 100%;
      height: 573px;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        width: auto;
        height: 100%;
        object-fit: contain;
        left: 0;
        top: 0;
        transform: translateX(-10%);
      }
    }

    .title {
      width: 46%;
      top: 26px;
      left: 20px;
      transform: unset;
      font-size: 45px;
      font-weight: 600;
      line-height: 132.037%;
      text-transform: capitalize;
    }
  }
}
.individual {
  margin-top: 15vh;
}
