.AboutSlide1 {
  width: 100vw;
  height: fit-content;
  position: relative;

  .imageConatiner {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .slider {
      height: fit-content;
      width: 100vw;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      .wrapperBig {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        .wrapper {
          width: 100vw;
          height: fit-content;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .image {
            width: 100%;
            height: fit-content;
            object-fit: contain;
          }
        }
        .gradient {
          top: 0;
          position: absolute;
          z-index: 1;
          width: 100vw;
          height: 100vh;
          opacity: 0.5;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.6) 100%
          );
        }

        .heading {
          overflow: hidden;
          .text2 {
            opacity: 0;
            position: absolute;
            transform: translateY(30%);
            z-index: 2;
            top: 54%;
            left: 130px;
            width: 460px;
            height: 204px;
            color: #fff;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
            font-size: 70px;
            font-style: normal;
            font-weight: 600;
            line-height: 132.037%;
            text-transform: capitalize;

            @media (max-width: 900px) {
              top: 43vh;
              left: 20px;
              font-size: 44px;
              line-height: 132.037%;
              width: 290px;
              height: fit-content;
            }
          }
        }
      }
      @media (max-aspect-ratio: 1440/863) {
        .wrapperBig {
          .wrapper {
            height: 100vh;
            width: fit-content;
            .image {
              height: 100%;
              width: fit-content;
            }
          }
        }
      }
    }
    .textContainer {
      z-index: 2;
      width: fit-content;
      height: fit-content;
      position: absolute;
      top: 30%;
      left: 130px;

      .dash {
        margin-bottom: 148px;
        background: #ffeac8;
        width: 47px;
        height: 7px;
        padding-left: 10px;

        @media (max-width: 900px) {
          display: none;
        }
      }

      .text1 {
        padding-left: 10px;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: -0.016px;

        margin-bottom: 10px;

        @media (max-width: 900px) {
          font-size: 14px;
          line-height: 19px;
        }
      }

      @media (max-width: 900px) {
        // top: 296px;
        top: 40vh;
        left: 20px;
      }
    }

    .pageNumbers {
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: fit-content;
      align-items: center;
      z-index: 2;
      width: fit-content;
      height: fit-content;
      position: absolute;
      bottom: 10%;
      left: 126px;

      .active {
        svg {
          path {
            fill: #d9d9d9;
          }
        }
      }
      @media (max-width: 900px) {
        bottom: 20%;
        left: 20px;

        .active {
          svg {
            path {
              fill: #d9d9d9;
            }
          }
        }
      }
    }
  }

  .activetext {
    display: none;
  }
}
