.HomeSlide4 {
  width: 100vw;
  height: fit-content;

  .container {
    width: 100%;
    padding-left: 11.38%;
    padding-right: 11.38%;
    display: flex;
    justify-content: space-between;
    margin-top: 131px;
    margin-bottom: -35px;

    .description {
      margin-bottom: 2vh;
      padding-top: 6vh;
      width: 50%;
      display: flex;
      flex-direction: column;

      .titleContainer {
        margin-bottom: 8px;
        .title {
          color: #000;
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 69.593px;
        }
      }
      .descriptionContainer {
        margin-bottom: 14px;
        width: 361px;
        .descriptionText {
          width: 100%;
          color: rgba($color: #2e2928, $alpha: 0.6);
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
        }
      }
      .buttonContainer {
        width: 190px;
      }
    }

    .imageContainer {
      margin-top: 8vh;
      width: 41vw;
      height: fit-content;
      position: relative;
      z-index: 2;

      // transition: all 0.5s ease-out;
      // transform: translate(0, 100%);
      // opacity: 0;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    @media (max-width: 1440px) {
      width: 100%;
      padding-left: 11.38%;
      padding-right: 8.8%;
      display: flex;
      justify-content: space-between;
      margin-top: 131px;
      margin-bottom: -35px;
      .description {
        .titleContainer {
          .title {
            font-size: 4vw;
            font-style: normal;
            font-weight: 400;
            line-height: 153%;
          }
        }
      }

      .imageContainer {
        width: 41.45%;
        height: fit-content;

        z-index: 2;
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }

  .imageContainer {
    width: 100%;
    height: fit-content;
    position: relative;

    img,
    .webimg {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .mobileImg {
      display: none;
    }
    .box {
      display: flex;
      width: fit-content;
      height: fit-content;
      position: absolute;
      top: 44%;
      left: 44%;
      z-index: 3;
      transform: translate(-50%, -50%);

      .Views1 {
        padding-right: 54px;

        .number {
          width: 107px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #fff;
          font-size: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: 66px;
          margin-bottom: 7px;
        }

        .info {
          width: 135px;
          color: #fff;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
        }

        @media (max-width: 1400px) {
          padding-right: 5%;
        }
      }

      @media (max-width: 1050px) {
        left: 40%;
      }
    }
  }
}
@media (max-width: 900px) {
  .HomeSlide4 {
    width: 100%;
    margin-bottom: 171px;
    .container {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      justify-content: unset;
      flex-direction: column-reverse;
      margin-top: 171px;

      .description {
        margin-bottom: 0;
        width: 100%;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        .titleContainer {
          margin-bottom: 15px;
          .title {
            color: #2d2d2d;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 46.593px;
          }
        }
        .descriptionContainer {
          margin-bottom: 41px;
          width: 100%;
        }
        .buttonContainer {
          width: 100%;
        }
      }

      .imageContainer {
        margin-top: 0;
        width: 100%;
        height: fit-content;
      }
    }

    .imageContainer {
      width: 100%;
      height: fit-content;
      margin-top: 20vh;

      .mobileImg {
        display: block;
      }
      .webimg {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
      .box {
        left: 44%;

        .Views1 {
          padding-right: 5%;
          width: 113px;

          .number {
            width: fit-content;
            color: #fff;
            font-size: 33.016px;
            font-style: normal;
            font-weight: 700;
            line-height: 34.048px; /* 103.125% */
            margin-bottom: 7px;

            svg {
              width: 10px;
              height: 10px;
            }
          }

          .info {
            width: fit-content;
            color: #fff;
            font-size: 7.738px;
            font-style: normal;
            font-weight: 400;
            line-height: 13.413px; /* 173.333% */
          }

          @media (max-width: 500px) {
            width: 72px;
          }
        }
      }
    }
  }
}
