.DropDown {
  width: 100%;
  //   height: 200px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: "#1d1d1d";

  padding-top: 15px;
  margin-bottom: 14px;

  .detailsContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    .title {
      padding-left: 19px;
      width: 100%;
      display: flex;
      height: 42px;
      padding-right: 10px;
      justify-content: space-between;
      margin-bottom: 10px;
      align-items: center;
      background-color: #f2f2f2;
      .titleText {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
      }
      .downArrow {
        transition: all 0.3s ease-out;
        height: fit-content;
        width: fit-content;
        transform: rotate(360deg);
      }
    }

    .desc {
      padding-left: 19px;
      height: fit-content;
      width: 100%;
      margin-bottom: 37px;
      padding-right: 20px;
      color: #7b7b7b;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 180%;
      text-transform: capitalize;

      @media (max-width: 900px) {
        width: 100%;
      }
    }
    @media (max-width: 900px) {
      width: 100%;
    }
  }

  @media (max-width: 900px) {
    width: 100%;
  }
}
.closeAccordion {
  // height: 53px;
  height: fit-content;
  margin-bottom: 14px;
  padding-top: 0;

  .detailsContainer {
    width: 100%;
    .title {
      height: 31px;
      display: flex;
      padding-right: 10px;
      justify-content: space-between;
      margin-bottom: 0;
      align-items: center;
      background-color: #ffffff;
      padding-left: 0;

      .downArrow {
        display: none;
        transform: rotate(180deg);
      }
    }
    .desc {
      display: none;
    }

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  @media (max-width: 900px) {
    width: 100%;
    height: fit-content;
  }
}
