.CollectionSlide1 {
  width: 100vw;
  height: fit-content;
  position: relative;

  .imageConatiner {
    width: 100%;
    height: fit-content;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      position: relative;
    }
    .gradient {
      top: 0;
      position: absolute;
      z-index: 1;
      width: 100vw;
      height: 100vh;
      opacity: 0.5;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
      );
    }
  }

  @media (max-aspect-ratio: 1441/530) {
    .imageConatiner {
      height: 100vh;
      width: fit-content;
      img {
        height: 100%;
        width: fit-content;
      }
    }
  }

  .heading {
    overflow: hidden;

    .title {
      width: 67vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 15%);
      opacity: 0;

      z-index: 1;
      position: absolute;
      color: #fff;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
      font-size: 5.5vw;
      font-style: normal;
      font-weight: 600;
      line-height: 132.037%;
      text-transform: capitalize;
    }
  }
}
.individual {
  margin-top: 30vh;
}

@media (max-width: 900px) {
  .CollectionSlide1 {
    margin-bottom: 20vh;

    .heading {
      .title {
        top: 25%;
        left: 50%;
        transform: translate(-50%, 150%);
        font-size: 42px;
        font-style: normal;
        font-weight: 600;
        line-height: 118.037%;
        text-transform: capitalize;
      }
    }
  }
}
.individual {
  margin-top: 15vh;
}
