*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
#smoothScroll {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
