.Privacy {
  padding-top: 120px;
  width: Min(100vw, 746px);
  margin: 0 auto;
  h1 {
    width: 100%;
    color: #040404;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
    margin-bottom: 61px;
  }

  ul {
    padding-left: 20px;
  }

  p,
  li,
  h2,
  h3 {
    color: #4b5b6b;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
  }

  @media (max-width: 900px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
